:root {
/* Latte*/
--fg:   #FFFFFC; /*regular text*/
--afg:  #FF4F00; /*accent text*/
--ahg:  #aa5102; /*accent hover text*/
--dbg:  #000000; /*darker background*/
--bg:   #251f1f; /*main background*/
--hbg:  #332b2b; /*lighter background*/
--grn:  #74c43c; /*running, ok, good things */
--red : #ff3535; /*stopped, wrong, bad things */

/* Frappé*/
--fg:   #FFFFFC; /*regular text*/
--afg:  #FF4F00; /*accent text*/
--ahg:  #aa5102; /*accent hover text*/
--dbg:  #000000; /*darker background*/
--bg:   #251f1f; /*main background*/
--hbg:  #332b2b; /*lighter background*/
--grn:  #74c43c; /*running, ok, good things */
--red : #ff3535; /*stopped, wrong, bad things */

/* Macchiato*/
--fg:   #FFFFFC; /*regular text*/
--afg:  #FF4F00; /*accent text*/
--ahg:  #aa5102; /*accent hover text*/
--dbg:  #000000; /*darker background*/
--bg:   #251f1f; /*main background*/
--hbg:  #332b2b; /*lighter background*/
--grn:  #74c43c; /*running, ok, good things */
--red : #ff3535; /*stopped, wrong, bad things */

/* Mocha*/
--fg:   #cdd6f4; /*regular text*/
--afg:  #f38ba8; /*accent text*/
--ahg:  #eba0ac; /*accent hover text*/
--dbg:  #000000; /*darker background*/
--bg:   #11111b; /*main background*/
--hbg:  #181825; /*lighter background*/
--grn:  #a6e3a1; /*running, ok, good things */
--red : #f38ba8; /*stopped, wrong, bad things */
}